section.banner
    .banner__container  
        .banner__wrapper
            h2.banner-title Join Us and Discover our most precious NFT
            p.banner-desc Suspendisse sem neque, auctor a elementum ut, varius vel leo. Donec diam arcu, porta et magna at
            button(data-bannerBtn).banner-btn View on OpenSea