section.collection
    .collection__container
        .collection__wrapper
            h2.collection-title Browse by Collections
            .collection__list
                .list-item
                    .item-img
                        img(src="./img/collection/IMAGE.png", alt="Image-List")
                    h3.item-title Collectibles
                .list-item
                    .item-img
                        img(src="./img/collection/IMAGE-2.png", alt="Image-List")
                    h3.item-title Art
                .list-item
                    .item-img
                        img(src="./img/collection/IMAGE-3.png", alt="Image-List")
                    h3.item-title Photography
            button(data-collection-btn).collection-btn View All