section.faq
    .faq__container
        .faq__wrapper
            h2.faq-title FAQ
            .faq-list
                .faq__item
                    .faq-header
                        span.faq-value Donec posuere massa nec arcu scelerisque, blandit mattis justo blandit
                        <svg width="28" height="17" viewBox="0 0 28 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1_839)">
                            <path d="M1.06067 1.93945L15.0607 15.9394" stroke="#79AF98" stroke-width="3"/>
                            <path d="M12.9393 15.9394L26.9393 1.93945" stroke="#79AF98" stroke-width="3"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_1_839">
                            <rect width="28" height="17" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    .faq-body
                        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur laborum ex error tempore eius dolorem?
                .faq__item
                    .faq-header
                        span.faq-value Quisque at justo semper, faucibus eros sit amet, scelerisque lorem.
                        <svg width="28" height="17" viewBox="0 0 28 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1_839)">
                            <path d="M1.06067 1.93945L15.0607 15.9394" stroke="#79AF98" stroke-width="3"/>
                            <path d="M12.9393 15.9394L26.9393 1.93945" stroke="#79AF98" stroke-width="3"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_1_839">
                            <rect width="28" height="17" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    .faq-body
                        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur laborum ex error tempore eius dolorem?
                .faq__item
                    .faq-header
                        span.faq-value Nulla eget justo at eros varius consequat.
                        <svg width="28" height="17" viewBox="0 0 28 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1_839)">
                            <path d="M1.06067 1.93945L15.0607 15.9394" stroke="#79AF98" stroke-width="3"/>
                            <path d="M12.9393 15.9394L26.9393 1.93945" stroke="#79AF98" stroke-width="3"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_1_839">
                            <rect width="28" height="17" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    .faq-body
                        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur laborum ex error tempore eius dolorem?
                .faq__item
                    .faq-header
                        span.faq-value Vivamus non nibh quis massa laoreet semper et eu quam
                        <svg width="28" height="17" viewBox="0 0 28 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1_839)">
                            <path d="M1.06067 1.93945L15.0607 15.9394" stroke="#79AF98" stroke-width="3"/>
                            <path d="M12.9393 15.9394L26.9393 1.93945" stroke="#79AF98" stroke-width="3"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_1_839">
                            <rect width="28" height="17" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    .faq-body
                        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur laborum ex error tempore eius dolorem?
                .faq__item
                    .faq-header
                        span.faq-value Morbi quis nisi tempus, mollis turpis ut, mollis massa.
                        <svg width="28" height="17" viewBox="0 0 28 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1_839)">
                            <path d="M1.06067 1.93945L15.0607 15.9394" stroke="#79AF98" stroke-width="3"/>
                            <path d="M12.9393 15.9394L26.9393 1.93945" stroke="#79AF98" stroke-width="3"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_1_839">
                            <rect width="28" height="17" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    .faq-body
                        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur laborum ex error tempore eius dolorem?