section.home
    .home__container
        .home__wrapper
            .home-text
                h5.home-text__category EXTRAORDINARY NFTs
                h1.home-text__title Change your Digital Experience
                p.home-text__desc 
                    |Suspendisse sem neque, auctor a elementum ut, varius vel leo. Donec diam arcu, porta et magna at
            .home-content
                .home-content__picture.home-content__picture-1
                    img(src="./img/home/image-1.jpg", alt="Lee Stone")
                    .content-picture__info
                        .info-avatar
                            img(src="./img/home/avatar1.png", alt="Avatar 1")
                        .info-user
                            .info-user__name Lee Stone
                            .info-user__desc Lee Stone
                .home-content__picture.home-content__picture-2
                    img(src="./img/home/image-2.jpg", alt="Mia Potter")
                    .content-picture__info
                        .info-avatar
                            img(src="./img/home/avatar2.png", alt="Avatar 1")
                        .info-user
                            .info-user__name Mia Potter
                            .info-user__desc Digital creator