section.scroller
    .scroller__container
        ul.tag-list.scroller__inner
            img(src="./img/scroller/IMAGE-1.png", alt="Scroller Item") 
            img(src="./img/scroller/IMAGE-2.png", alt="Scroller Item") 
            img(src="./img/scroller/IMAGE-3.png", alt="Scroller Item") 
            img(src="./img/scroller/IMAGE-4.png", alt="Scroller Item") 
            img(src="./img/scroller/IMAGE-5.png", alt="Scroller Item") 
            img(src="./img/scroller/IMAGE-6.png", alt="Scroller Item") 
            img(src="./img/scroller/IMAGE-7.png", alt="Scroller Item") 
            img(src="./img/scroller/IMAGE-8.png", alt="Scroller Item") 
            img(src="./img/scroller/IMAGE-9.png", alt="Scroller Item") 