section.skills
    .skills__container
        .skills__wrapper
            .skills-list
                .skills-item
                    h5.item-count 01
                    h3.item-title Motion Graphic
                    p.item-desc Suspendisse sem neque, auctor a elementum ut, varius vel leo. Donec diam arcu, porta et magna at
                .skills-item
                    h5.item-count 02
                    h3.item-title Digital Illustration
                    p.item-desc Suspendisse sem neque, auctor a elementum ut, varius vel leo. Donec diam arcu, porta et magna at
                .skills-item
                    h5.item-count 03
                    h3.item-title Photography
                    p.item-desc Suspendisse sem neque, auctor a elementum ut, varius vel leo. Donec diam arcu, porta et magna at
            .skills-pic
                img(src="./img/skills/IMAGE.jpg", alt="Skills")