doctype html
html(lang="en")
    head
        // Meta теги для SEO
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="EXTRAORDINARY NFTs Change your Digital Experience")
        meta(name="keywords", content="NFT DIGITAL IT DESIGN")
        meta(name="Content-Language", content="en")
        meta(name="Author", content="Daniel Rogulin Даниил Рогулин")
        meta(name="Copyright", content="Daniel Rogulin Даниил Рогулин")

        title CodX - Change your Digital Experience | NFT
        link(rel="stylesheet", href="css/main.css")
        script(defer, src="./js/index.bundle.js")
    body
        include blocks/header
        main.main
            include blocks/home
            include blocks/scroller
            include blocks/employers
            include blocks/skills
            include blocks/banner
            include blocks/collection
            include blocks/NFT
            include blocks/faq
        include blocks/footer